*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    background:c#fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 0 30px;
}
nav ul li a, a{
    color: #000;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
}
.logo{
    cursor: pointer;
    width: 60px;
    border-radius: 50px;
}

.content{
    width: 90%;
    height: 90vh;
    margin: 0 5%;
    /* background: red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cards{
    gap: 50px;
    margin: 2% 10%;
    background: #fff;
    max-width: 100%;
    max-height: auto;
    padding: 0 2%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form{
    width: 100%;
    /* border: 3px solid yellow; */
    align-items: center;
    text-align: center;
    height: 10vh;
}
.image{
}
.img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

